<a href="https://colab.research.google.com/github/s11000/pandas-data-frame/blob/main/sqlite_pandas_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# T094000175 ( 曾龍 ) 2022-04-01 14:12
 0 
0401_(期中平時成績)作業繳交區

期中平時報告: 資料科學與numpy實務報告

資料科學(Data Science): == > 
有何用處? 
金融業? 
資訊安全? 
電子商務?
資料科學(Data Science) 
常用套件 == > 你如何向老闆說明這些套件
Google Colab 開發環境

numpy  == > 有何用處? 
有何重要性? 
numpy資料型態 
ndarray及其屬性
ndarray的建立
ndarray的運算
ndarray特殊的機制: broadcasting
ndarray超級技能: Universal Function

In [1]:
import sqlite3

In [2]:
 pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import pandas as pd
import sqlite3

In [33]:
import pandas as pd
 
!wget=https://raw.githubusercontent.com/johnashu/datacamp/master/sp500.csv

In [34]:
!wget=https://github.com/johnashu/datacamp/blob/master/sp500.csv

In [19]:
# the URL to read
url = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"
# read it
banks = pd.read_html(url)
# examine a subset of the first table read
banks[0][0:5].iloc[:,0:10]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534

In [35]:
import pandas as pd
import sqlite3
 
 
df = pd.read_csv('/content/500.csv')  #讀取CSV資料集檔案
print(df)

             Date,Open,High,Low,Close,Volume,Adj Close
0    2015-01-02,2058.899902,2072.360107,2046.040039...
1    2015-01-05,2054.439941,2054.439941,2017.339966...
2    2015-01-06,2022.1500239999998,2030.25,1992.439...
3    2015-01-07,2005.550049,2029.609985,2005.550049...
4    2015-01-08,2030.609985,2064.080078,2030.609985...
..                                                 ...
247  2015-12-24,2063.52002,2067.360107,2058.72998,2...
248  2015-12-28,2057.77002,2057.77002,2044.199951,2...
249  2015-12-29,2060.540039,2081.560059,2060.540039...
250  2015-12-30,2077.340088,2077.340088,2061.969971...
251  2015-12-31,2060.590088,2062.540039,2043.619995...

[252 rows x 1 columns]

In [41]:
import pandas as pd
import sqlite3
 
 
df = pd.read_csv('500.csv')  #讀取CSV資料集檔案
 
conn = sqlite3.connect('sp500.db')  #建立資料庫
cursor = conn.cursor()
cursor.execute('CREATE TABLE SP500(Data, Open, High, Low, Close,Volume)')  #建立資料表
conn.commit()

In [ ]:
import pandas as pd
import sqlite3
 
 
df = pd.read_csv('Billionaire.csv')  #讀取CSV資料集檔案
 
conn = sqlite3.connect('billionaire.db')  #建立資料庫
cursor = conn.cursor()
cursor.execute('CREATE TABLE Billionaire(Name, NetWorth, Country, Source, Rank)')  #建立資料表
conn.commit()

In [51]:
import sqlite3

In [52]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [53]:
import pandas as pd
import sqlite3

In [54]:
import pandas as pd
import sqlite3
 
 
df = pd.read_csv('Billionaire.csv')  #讀取CSV資料集檔案
print(df)

                          Name NetWorth        Country         Source  Rank  \
0                   Jeff Bezos   $177 B  United States         Amazon     1
1                    Elon Musk   $151 B  United States  Tesla, SpaceX     2
2     Bernard Arnault & family   $150 B         France           LVMH     3
3                   Bill Gates   $124 B  United States      Microsoft     4
4              Mark Zuckerberg    $97 B  United States       Facebook     5
...                        ...      ...            ...            ...   ...
2750         Daniel Yong Zhang     $1 B          China     e-commerce  2674
2751             Zhang Yuqiang     $1 B          China     Fiberglass  2674
2752             Zhao Meiguang     $1 B          China    gold mining  2674
2753            Zhong Naixiong     $1 B          China   conglomerate  2674
2754           Zhou Wei family     $1 B          China       Software  2674

       Age          Industry
0     57.0        Technology
1     49.0        Automotive
2     72.0  Fashion & Retail
3     65.0        Technology
4     36.0        Technology
...    ...               ...
2750  49.0        Technology
2751  65.0     Manufacturing
2752  58.0   Metals & Mining
2753  58.0       Diversified
2754  54.0        Technology

[2755 rows x 7 columns]

In [103]:
import pandas as pd
import sqlite3
 
 
df = pd.read_csv('Billionaire.csv')  #讀取CSV資料集檔案
 
conn = sqlite3.connect('billionaire.db')  #建立資料庫
cursor = conn.cursor()
cursor.execute('CREATE TABLE Billionaire(Name, NetWorth, Country, Source, Rank, Age, Industry)')  #建立資料表
conn.commit()

In [105]:
import pandas as pd
import sqlite3
 
 
df = pd.read_csv('Billionaire.csv')  #讀取CSV資料集檔案
 
conn = sqlite3.connect('billionaire.db')  #建立資料庫
cursor = conn.cursor()
cursor.execute('CREATE TABLE Billionaire(Name, NetWorth, Country, Source, Rank, Age, Industry)')  #建立資料表
conn.commit()
 
#如果資料表存在，就寫入資料，否則建立資料表
df.to_sql('Billionaire', conn, if_exists='append', index=False)